.header{
  // CSS for elements in the header class
  display: flex;
  justify-content: center;
  align-items: center;
  
  // CSS for buttons inside the header class
  button{
      height: $buttonHeight;
      background-color: $primaryColor;
      text-align: center;

      &:hover{
          background:$buttonHoverColor;
      }
  }
}

/* .container{
  @include flexCenter();
} */

#btn-1{
  // @include flexRight();
  text-align: center;
}